matplotlib~=3.5.1
numpy~=1.22.0
paramiko==2.7.1
tensorflow==2.2.0
tqdm~=4.46.1
torch~=1.5.1
opencv-python~=4.2.0.32
typing~=3.7.4.1
aiohttp~=3.6.2
pillow~=9.0.0
gmplot~=1.4.1

scipy~=1.7.3
plotly~=5.5.0
sklearn~=0.0
scikit-learn~=1.0.2